<div class="card recent-sales">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
  </div>

  <div class="card-body">
    <h5 class="card-title">Recent Sales <span>| Today</span></h5>

    <div class="d-flex mb-2">
      <div class="me-2">
        <select class="form-select form-select-sm">
          <option value="10" selected>10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
      </div>
      <div>entries per page</div>
      <div class="ms-auto">
        <input type="text" class="form-control form-control-sm" placeholder="Search...">
      </div>
    </div>

    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="#">#2457</a></th>
          <td>Brandon Jacob</td>
          <td><a href="#" class="text-primary">At praesentium minu</a></td>
          <td>$64</td>
          <td><span class="badge bg-success">Approved</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">#2147</a></th>
          <td>Bridie Kessler</td>
          <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
          <td>$47</td>
          <td><span class="badge bg-warning">Pending</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">#2049</a></th>
          <td>Ashleigh Langosh</td>
          <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
          <td>$147</td>
          <td><span class="badge bg-success">Approved</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">#2644</a></th>
          <td>Angus Grady</td>
          <td><a href="#" class="text-primary">Ut voluptatem id earum et</a></td>
          <td>$67</td>
          <td><span class="badge bg-danger">Rejected</span></td>
        </tr>
        <tr>
          <th scope="row"><a href="#">#2644</a></th>
          <td>Raheem Lehner</td>
          <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
          <td>$165</td>
          <td><span class="badge bg-success">Approved</span></td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex align-items-center mt-4">
      <div>Showing 1 to 5 of 5 entries</div>
    </div>
  </div>
</div>
