.header {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 60px;
  z-index: 999;
}

.toggle-sidebar-btn {
  font-size: 24px;
  cursor: pointer;
  color: #012970;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #012970;
  text-decoration: none;
}

.search-bar {
  position: relative;
  max-width: 360px;
  width: 100%;
}

.search-form {
  position: relative;
}

.search-form input {
  border: 1px solid #eaeaea;
  font-size: 14px;
  color: #012970;
  padding: 7px 38px 7px 15px;
  transition: 0.3s;
  width: 100%;
  height: 38px;
}

.search-form button {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #012970;
  font-size: 16px;
  cursor: pointer;
}

.header-nav .nav-icon {
  font-size: 20px;
  color: #012970;
  margin-right: 15px;
  position: relative;
}

.header-nav .badge-number {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  font-weight: normal;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-profile {
  display: flex;
  align-items: center;
}

.nav-profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.nav-profile span {
  font-size: 14px;
  font-weight: 600;
  color: #012970;
}
