<div class="card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
  </div>

  <div class="card-body pb-0">
    <h5 class="card-title">Website Traffic <span>| Today</span></h5>

    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex align-items-center">
        <span class="text-primary me-2">■</span>
        <span>Search Engine</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-success me-2">■</span>
        <span>Direct</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-warning me-2">■</span>
        <span>Email</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-danger me-2">■</span>
        <span>Union Ads</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="text-info me-2">■</span>
        <span>Video Ads</span>
      </div>
    </div>
    <div id="trafficChart" style="height: 300px;">
      <app-donut-chart></app-donut-chart>
    </div>
  </div>
</div>
